.floorlist {
  font-family: Oswald, sans-serif;
  color: #765D69;
  text-align: left;
}

.floorlist .floorRow{
  border-bottom: #cbb2be;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding: 10px;
}

.floorlist .header{
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #FEFAD4;
  border-bottom: #cbb2be;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding: 10px;
}