.button .row {
  margin-left: 10px;
  margin-top: 25px;
}
.button .col {
  background: #eeeeee;
  padding: 20px;
}
.button .buttonLeft {
  margin-right: 10px;
  color: #765d69;
  cursor: pointer;
}
.button .buttonRight {
  color: #765d69;
  margin-left: 10px;
  cursor: pointer;
}
.button .col:hover {
  background-color: #765d69;
  color: #ffffff;
}
.button .col:hover .col {
  color: #ffffff;
}
